.app-container {
  /*display: flex;*/
}

.row-logo {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.row-logo .logo {
  display: block;
  width: 82px;
  height: 88px;
}

.row-content {
  display: flex;
  justify-content: center;
}

.column-options {
  flex: 0 0 auto;
  width: 232px;
  margin-right: 10px;
}

.column-options .panel-options {
  padding: 15px;
}

.column-ticket-list {
  flex: 0 0 auto;
  width: 566px;
  margin-left: 10px;
}
